body{
	background:dargrey;
	
}

p{
	font: Arial;

}

#buttonOne{
	margin: 10px;

}

#buttonTwo{
	margin: 10px;
	
}


#buttonThree{
	margin: 10px;
	
}


#buttonFour{
	margin: 10px;
	
}

#totalScore{
	border: 2px solid black;
}

#wins {
	border: 2px solid black;
}

#losses{
	border: 2px solid black;
}